{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Byte</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- CSS for header background image -->
    <style>
        header {
            background-image: url("{% static 'images/background.jpg' %}");
            background-size: cover;
            background-position: center;
            color: white;
        }
    </style>
</head>
<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <img src="{% static 'images/logo.png' %}" alt="Logo" height="70">
        <span class="brand-name">
            <span style="color: yellow;"><strong>Trivia</strong></span>
            <span style="color: #f80ff8;"><strong>By</strong></span><span style="color: black;"><strong>Te</strong></span>
        </span>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="slogan">
                <p>Quiz Time, Byte Me!</p>
            </div>
        </div>
    </div>
</nav>

<!-- Header-->
<header>
    <section id="scroll" class="bg-gradient-purple-pink">
        <div class="container mt-5 pt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="quizForm" action="{% url 'get_quiz' %}" method="post">
                        {% csrf_token %} #A CSRF token hidden input field in the form to prevent CSRF attacks.
                        <div class="form-group">
                            <!-- A dropdown menu for selecting a category -->
                            <select name="category" class="form-control">
                                <option value="">Pick A Category</option>
                                <!-- Iterates over the categories and generates an option element for each category -->
                                {% for category in categories %}
                                    <option value="{{ category }}">{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- Defines a submit button for the form -->
                        <button type="submit" class="btn btn-danger mt-3">Enter</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>

<!-- Content section 1-->
<section class="bg-general-knowledge">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5 text-center">
                    <img class="rounded-circle" src="{% static 'images/general knowledge.jpg' %}" alt="General Knowledge..." width="400" height="400" >
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="general-knowledge">General Knowledge...</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-science">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="science">Science...</h2>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="p-5 text-center">
                    <img class="img-fluid rounded-circle" src="{% static 'images/science.jpg' %}" alt="Science" width="400" height="400" >
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-music">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5 text-center">
                    <img class="rounded-circle" src="{% static 'images/music.jpg' %}" alt="Music" width="400" height="400">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="music">Music...</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-black">
    <div class="container px-5">
        <p class="m-0 text-center text-white small">Copyright &copy; Trivia Byte 2024</p>
    </div>
</footer>
<script src="{% static 'js/quiz.js' %}"></script>

<script>
    // Adds an event listener to the form with the ID 'quizForm'
    document.getElementById('quizForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevents default form submission

        // Gets the selected category value
        var category = document.querySelector('select[name="category"]').value;

        // Redirects based on the selected category
        switch (category) {
            case 'General Knowledge':
                window.location.href = 'quiz.html';
                break;
            case 'Science':
                window.location.href = 'science.html';
                break;
            case 'Music':
                window.location.href = 'music.html';
                break;
            default:
                alert('Please select a category!');
        }
    });
</script>

</body>
</html>

