{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Time</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            background-color: #9D9CEF;
        }

        #app {
            flex-direction: column;
            align-items: left;
            margin: 10px;
        }
    </style>
</head>
<body>

<div id="app">
    <!-- Iterates over categories in questionsData -->
    <div v-for="(category, index) in questionsData" :key="index">
        <h2>{{ category.category }}</h2>
        <!-- Iterates over questions in questionsData -->
        <div v-for="(question, qIndex) in category.questions" :key="qIndex">
            <!-- Displays the questions -->
            <h3 class="question">[[ (qIndex + 1) + '. ' + question.question ]]</h3>
            <!-- Loop through each option -->
            <div v-for="(option, oIndex) in question.answers" :key="oIndex">
                <!-- Display the option as a radio button -->
                <input type="radio" :value="option" v-model="selectedOptions[category.category + '_' + qIndex]">
                <!-- Displays the option text -->
                <label class="answer">[[ option ]]</label>
            </div>
        </div>
    </div>
    <!-- Triggers submitQuiz when clicked -->
    <button @click="submitQuiz" class="btn btn-primary mt-3">Submit</button>
    <!-- Display the score -->
    <div v-if="showScore">
        <h3>Your Score: [[ score ]]</h3>
        <button @click="startOver" class="btn btn-secondary">Start Over</button>
        <p>Thank you for playing Trivia Byte!</p>
    </div>
</div>

<!-- Include Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.prod.js"></script>
<script>
// Vue.js application instance is created
// Vue.createApp method initializes a new Vue Application
const app = Vue.createApp({
// This property specifies the HTML element that Vue.js will mount the application to.
// It will be mounted to the element with the 'id' attribute set to 'app'
    el: '#app',
    // Sets the delimiters used for Vue.js interpolation
    // Using [[ and ]] to allow Vue.js differentiate its template syntax from other frameworks
    delimiters: ['[[', ']]'],
    // Defining the data properties that will be tracked by Vue.js and update the DOM
    data() {
        return {
            questionsData: [
                {
                    category: 'General Knowledge',
                    questions: [
                        {
                            'question': 'Which five colours make up the Olympic rings?',
                            'answers': ['Red, blue, yellow, green and purple', 'Black, white, yellow, green and red', 'Black, green, blue, yellow and red'],
                            'correct_answer': 'Black, green, blue, yellow and red'
                        },
                        {
                            'question': "What's the biggest animal in the world?",
                            'answers': ['The elephant', 'The blue whale', 'The giraffe'],
                            'correct_answer': 'The blue whale'
                        },
                        {
                            'question': "Which country is brie cheese originally from?",
                            'answers': ['France', 'Switzerland', 'Italy'],
                            'correct_answer': 'France'
                        },
                        {
                            'question': "What does Hakuna Matata mean?",
                            'answers': ['Good morning', 'No worries', 'Thank you'],
                            'correct_answer': 'No worries'
                        },
                        {
                            'question': "Who painted the Mona Lisa?",
                            'answers': ['Pablo Picasso', 'Leonardo da Vinci', 'Vincent Van Gogh'],
                            'correct_answer': 'Leonardo da Vinci'
                        },
                        {
                            'question': "Which planet is closest to the sun?",
                            'answers': ['Mercury', 'Mars', 'Venus'],
                            'correct_answer': 'Mercury'
                        },
                        {
                            'question': "What is the largest country in the world?",
                            'answers': ['Canada', 'China', 'Russia'],
                            'correct_answer': 'Russia'
                        },
                        {
                            'question': "Which fashion designer reportedly had a relationship with Winston Churchill?",
                            'answers': ['Coco Chanel', 'Ralph Lauren', 'Gianni Versace'],
                            'correct_answer': 'Coco Chanel'
                        },
                        {
                            'question': "How many valves does the heart have?",
                            'answers': ['Two', 'Four', 'Six'],
                            'correct_answer': 'Four'
                        },
                        {
                            'question': "In Harry Potter, what is the name of The Weasley's house?",
                            'answers': ['Hogwarts', 'Gringotts', 'The Burrow'],
                            'correct_answer': 'The Burrow'
                        }

                    ]
                }
            ],
            // Stores the selected option
            selectedOptions: {},
            // Var to keep track of score
            score: 0,
            //  Boolean to control user's score after submitting
            showScore: false
        };
    },
    methods: {
        submitQuiz() {
            this.score = 0; // Reset score before calculating
            // Calculate the score
            // By iterating over each question and comparing the selected option with correct answer
            this.questionsData.forEach((category) => {
                category.questions.forEach((question, qIndex) => {
                    const selectedOption = this.selectedOptions[category.category + '_' + qIndex];
                    if (selectedOption === question.correct_answer) {
                        this.score++;
                    }
                });
            });
            // Display the score
            this.showScore = true;
        },
        startOver() {
            // Reset selectedOptions, score, and showScore
            this.selectedOptions = {};
            this.score = 0;
            this.showScore = false;
        }
    }
});

app.mount('#app');
</script>

</body>
</html>
